@import "bootstrap";
@import "themes";
@import "global";

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
}

.badge-pill {
  font-size: 1.2rem;
  margin: 1%;
  @include themed() {
    background-color: t("secondary-color");
  }
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
}

// Reduce font size for smaller screens (mobile)
@media screen and (max-width: $max-width-font-reduce) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .badge-pill {
    font-size: 0.8rem;
  }
}

// Center align everything on medium screens and down
@include media-breakpoint-down(md) {
  body {
    text-align: center;
  }
}
