@import "bootstrap";
@import "themes";
@import "global";

.experience-carousel {
  .left-col {
    text-align: center;
  }
  .right-col {
    text-align: center;
  }

  .right-arrow {
    @include themed() {
      color: t("secondary-color");
    }
  }
  .right-col:hover {
    .right-arrow {
      opacity: 50%;
    }
  }

  .left-arrow {
    @include themed() {
      color: t("secondary-color");
    }
  }
  .left-col:hover {
    .left-arrow {
      opacity: 50%;
    }
  }

  .fade-left-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .fade-left-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-left-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
  }

  .fade-right-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .fade-right-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-right-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-right-exit-active {
    opacity: 0;
    transform: translateX(100%);
  }

  .fade-left-enter-active,
  .fade-left-exit-active,
  .fade-right-enter-active,
  .fade-right-exit-active {
    transition: opacity 250ms, transform 250ms;
  }
}
