@import "bootstrap";
@import "themes";
@import "breakpoints";

#skills {
  margin-top: 5%;

  h1 {
    margin-left: 5%;
  
    hr {
      margin-top: 3%;
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

.skill-cards {
  margin-left: 5%;
  margin-right: 5%;
}

.skill-card {
  height: 100%;
}

.badge-pill {
  font-size: 1.2rem;
  margin: 1%;
  @include themed() {
    background-color: t("secondary-color");
  }
}

@include media-breakpoint-down(md) {
  .skill-cards {
    .col-md-12 {
      margin-bottom: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .skill-cards {
    .middle-card {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: $max-width-font-reduce) {
  .badge-pill {
    font-size: 0.8rem;
  }

  #skills {
    h2 {
      font-size: 1rem;
    }
  }
}