.me-img {
  display: block;
  margin: auto;
}

#about {
  margin-top: 5%;
}

.secondary-color {
  color: #0e49b5;
}

.intro-name {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
}

.intro-break {
  display: none;
}

@media screen and (max-width: 1362px) {
  .intro-break {
    display: inline-block;
  }
}

/* When width goes below bootstrap "lg" */
@media screen and (max-width: 991px) {
  .intro {
    text-align: center;
    margin-top: 5%;
  }

  .intro {
    padding-left: 10%;
    padding-right: 10%;
  }
}
