@import "color-themes";

.me-img {
  display: block;
  margin: auto;
  @include themed() {
    border: 0.5rem solid t("secondary-color");
  }
}

#about {
  margin-top: 5%;
}

.secondary-color {
  @include themed() {
    color: t("secondary-color");
  }
}

.intro-name {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
}

.intro-break {
  display: none;
}

@media screen and (max-width: 1362px) {
  .intro-break {
    display: inline-block;
  }
}

/* When width goes below bootstrap "lg" */
@media screen and (max-width: 991px) {
  .intro {
    text-align: center;
    margin-top: 5%;
  }

  .intro {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Reduce font size for smaller screens (mobile) */
@media screen and (max-width: 589px) {
  .intro-name {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}
