@import "color-themes";

.header {
  font-weight: 800;
}

.resume-button {
  @include themed() {
    background: t("secondary-color");
  }
  font-weight: 700;
  border-radius: 1.25rem;
  border-color: transparent;
}
